<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--环境配置:数据库的连接信息-->
    <environments default="development">
        <!--environment：一个数据库的配置信息，环境
            id:一个唯一值，自定义，表示环境的名称
        -->
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/springdb?useSSL=false&amp;serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="QQ910686596"/>
            </dataSource>
        </environment>
    </environments>
    <!--sql映射文件的位置-->
    <mappers>
        <!--一个mapper标签指定一个sql映射文件的位置。路径是从类路径开始的路径信息-->
        <mapper resource="com/dyy/dao/StudentDao.xml"/>
<!--        <mapper resource="com/dyy/dao/SchoolDao.xml"/>-->
    </mappers>
</configuration>

<!--
    mybatis的主配置文件：主要定义了数据库的连接信息，sql映射文件的位置

    1.约束文件
        <!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
      mybatis-3-config.dtd：约束文件的名称
    2.configuration


-->